configuration Example
{
    param
    (
        [parameter()]
        [string]
        $NodeName = 'localhost'
    )

    Import-DscResource -ModuleName PowerStig

    Node $NodeName
    {
        WindowsServer BaseLine
        {
            OsVersion   = '2019'
            OsRole      = 'MS'
            StigVersion = '1.3'
            OrgSettings = 'C:\Users\Administrator\AppData\Local\Temp\DSCEA\WindowsServer-2019-MS-1.3.org.xml'
            # DomainName  = 'your.domain'
            # ForestName  = 'your.domin'
        }
    }
}

Example -OutputPath C:\Users\Administrator\AppData\Local\Temp\DSCEA\
